################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SDK/example_discrete_model/out/build/x64-Debug
/SDK/example_filter/out/build/x64-Debug
/SDK/example_metric/out/build/x64-Debug
/SDK/example_model/out/build/x64-Debug
/SDK/example_solver/out/build/x64-Debug
/Program/example_C_pump/msvc
/compiled
