################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/example_discrete_model/out/build/x64-Debug
/example_filter/out/build/x64-Debug
/example_metric/out/build/x64-Debug
/example_model/out/build/x64-Debug
/example_solver/out/build/x64-Debug
/example_C_pump/msvc
